
       <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-6" >
                <p><font size="6"><span class="text-cielo"><strong>INFOD</strong></span>SGI</font> Sistema de Gestion de institutos superiores</p>
              <br>
              <p><strong><span href="#" class="text-cielo"> Instituto Nacional de Formación Docente</span></strong></p>
                <p class="text-cielo"><strong>Todos los derechos reservados</strong></p>
            </div>
            <div class="col-md-3 col-sm-6">
              <ul>
                <li><a href="#" class="text-cielo">Acerca de este sitio</a></li>
                <li><a href="#" class="text-cielo">Términos y condiciones</a></li>
                <li><a href="#" class="text-cielo">Créditos</a></li>
              </ul>

            </div>

          </div>

        </div>
        <div class="text-right "><small class="versionado" >{{version}}</small></div>
      </footer>
      <!-- Footer -->

