<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<header >
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header hand" (click)="goHome()">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <br>
       
            <div class="display-block" >
        <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-5" style="margin-top:-10px;">
                <p><strong style="font-size:150%;"><span class="text-cielo">TU PROFESOR </span>ONLINE</strong></p>
              </div>
              <div class="calendarHeader-xs-margin col-lg-1 col-md-1 col-sm-1 col-xs-1"style="margin-top:-20px;" >
                  <font size="12"><i class="fa fa-calendar text-cielo" style="margin-left:14px;margin-bottom:-25px"></i></font>
              </div>
            </div>
            <div class="row">
                
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10">
                  <p style="margin-top:-19px;"><span class="text-muted small" style="font-size:60%">SISTEMA DE INSCRIPCIONES A CLASES PARTICULARES</span></p>
            </div>
          </div>
          </div>
          
        </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li> <a data-toggle="tooltip" data-placement="top" title="Ayuda" class="button-bgwhite hand" ><font size="6"><i class="fa fa-question  text-cielo" aria-hidden="true" style="margin-top:10px"></i></font></a></li>
              <li> <a  data-toggle="tooltip" data-placement="top" title="Notificaciones"  class="button-bgwhite hand"><font size="6"><i class="fa fa-bell  text-cielo" style="margin-top:10px"></i></font></a></li>
              <li > <a data-toggle="tooltip" data-placement="top" title="Cerrar Sesión"  type="button" class="button-bgwhite hand" ><font size="6"><i (click)="logout()" class="fa fa-sign-out-alt text-cielo" style="margin-top:10px"></i></font></a></li>

              <!-- <li class="dropdown active" style="width: 240px;">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="clearfix">
                      <div class="fa fa-user-circle-o fa-3x pull-right"></div>
                      <p style="font-size:11px; margin:0; padding: 0; line-height: 11px;">{{this.usuario}}</p>
                          <p class="style-header">Rol: {{this.roles}}</p>
                          <p  class="style-header">Org: {{this.unidad}}</p>
                          <p class="style-header">FUN: {{this.funcion}}</p>
                        </div>
                     
                    </a>
                  <ul class="dropdown-menu" style="width: 240px">                      
                    <li *ngFor="let nom of restItemsTotal"  ><a role="button" (click)="cambiarRol(nom)">
                        <p  class="style-header">{{this.usuario}}</p>
                        <p  class="style-header">Rol: {{nom.roles}}</p>
                        <p class="style-header">Org: {{nom.unidad}}</p>
                        <p  class="style-header">FUN: {{nom.funcion}}</p>
                    </a></li>                    
                  </ul>
              </li> -->
             
              
            </ul>
          </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
</header>

