

<div >
<main role="main">
    <section>
        <div class="container">

          <div class="row panels-row">
               <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/plancursada">
                <div class="panel-heading"><i class="fa fa-universal-access" ></i></div>
                <div class="panel-body">
                  <h3>MIS MATERIAS</h3>
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/nomencladores">
                <div class="panel-heading"><i class="fa fa-calendar-plus-o"></i></div>
                <div class="panel-body">
                  <h3>MIS ALUMNOS</h3>

                </div>
              </a>
            </div>
        <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/division">
                <div class="panel-heading"><i class="fa fa-th "></i></div>
                <div class="panel-body">
                  <h3>INFORMACIÓN PERSONAL</h3>

                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/carreras">
                <div class="panel-heading"><i class="fa fa-suitcase "></i></div>
                <div class="panel-body">
                  <h3>REPOSITORIO DE AYUDA</h3>
                </div>
              </a>
            </div>
          
          
          </div>

        </div>
      </section>

</main>

</div>

