<app-header (funcionUser)="onVotedFuncion($event)"  (tipoUser)="onVotedTipo($event)"   (unidadUser)="onVotedUnidad($event)"  (rolesUser)="onVoted($event)"      ></app-header>

<div >
<main role="main">
    <section>
        <div class="container">

          <div class="row panels-row">
               <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/plancursada">
                <div class="panel-heading"><i class="fa fa-universal-access" ></i></div>
                <div class="panel-body">
                  <h3>PLAN DE CURSADAS</h3>
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/nomencladores">
                <div class="panel-heading"><i class="fa fa-calendar-plus-o"></i></div>
                <div class="panel-body">
                  <h3>NOMENCLADORES</h3>

                </div>
              </a>
            </div>
        <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/division">
                <div class="panel-heading"><i class="fa fa-th "></i></div>
                <div class="panel-body">
                  <h3>DIVISIONES</h3>

                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/carreras">
                <div class="panel-heading"><i class="fa fa-suitcase "></i></div>
                <div class="panel-body">
                  <h3>CARRERAS</h3>
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/puestos">
                <div class="panel-heading"><i class="fa fa-sitemap "></i></div>
                <div class="panel-body">
                  <h3>PUESTOS</h3>
                </div>
              </a>
            </div> 

            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/calendario">
                <div class="panel-heading"><i class="fa fa-calendar " ></i></div>
                <div class="panel-body">
                  <h3>CALENDARIO</h3>
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/personal">
                <div class="panel-heading"><i class="fa fa-users"></i></div>
                <div class="panel-body">
                  <h3>PERSONAL</h3>

                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/alumnos">
                <div class="panel-heading"><i class="fa fa-graduation-cap"></i></div>
                <div class="panel-body">
                  <h3>ALUMNOS</h3>

                </div>
              </a>
            </div> 
            <div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" routerLink="/personas">
                <div class="panel-heading"><i class="fa fa-users"></i></div>
                <div class="panel-body">
                  <h3>PERSONAS</h3>
                </div>
              </a>
            </div>

            <!--<div class="col-sm-6 col-md-3 col-xs-12">
              <a class="panel panel-default panel-icon" href="#">
                <div class="panel-heading"><i class="fa fa-info"></i></div>
                <div class="panel-body">
                  <h3>INFORMACIÓN</h3>
                </div>
              </a>
            </div> -->
          </div>

        </div>
      </section>

</main>

</div>

  <app-footer></app-footer>
